# Automatically sets up your devbox environment whenever you cd into this
# directory via our direnv integration:

eval "$(devbox generate direnv --print-envrc)"

# check out https://www.jetpack.io/devbox/docs/ide_configuration/direnv/
# for more details

# Add any environment variable customisations that you wish to keep out of version control to
# to .env.local instead.
# https://github.com/direnv/direnv/issues/348#issuecomment-588487223
[ -f ".env.local" ] && dotenv ".env.local"
